html, body {
    min-height: 100vh;
    text-align: center;
    display: grid;
    grid-template-rows: 40px 10fr 25fr 2fr 4fr 2fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: "nav"
                         "div1"
                         "sec1"
                         "div2"
                         "sec2"
                         "div3"
                         "footer";
}

nav {
    border: 1px solid black;
    grid-area: nav;
    display: flex;
}

#nav-logo {
    width: 80px;
}

#nav-signIn {
    height: 30px;
    width: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-box {
    height: 30px;
    width: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1 {
    background-color: grey;
    grid-area: div1;
    max-height: 700px; 
    max-width: 100%; 
}

#div1-1 {
    grid-area: top;
    margin: 15px;
}

#div1-2 {
    grid-area: bot;
}

#sec1 {
    grid-area: sec1;
}

#div2 {
    background-color: grey;
    grid-area: div2;
     min-height: 400px;
}

#sec2 {
    grid-area: sec2;
}

#div3 {
    background-color: grey;
    grid-area: div3;
    min-height: 400px;
}

footer {
    grid-area: footer;
    min-height: 400px;
}

.image {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.sec {
    margin: 15px;
}


@media screen and (min-width: 540px) {
   body {
       display: grid;
       grid-template-rows: 40px 1fr 1fr 1fr 1fr 1fr 1fr;
       grid-template-columns: 1fr 1fr;
       grid-template-areas: "nav nav"
                            "div1 div1"
                            "sec1 sec1"
                            "div2 div2"
                            "sec2 sec2"
                            "div3 div3"
                            "footer footer";
   }
}


@media screen and (min-width: 860px) {
    body {
    display: grid;
       grid-template-rows: 40px 1fr 2fr 1fr 2fr 1fr 2fr;
       grid-template-columns: 1fr 1fr;
       grid-template-areas: "nav nav"
                            "div1 div1"
                            "sec1 sec1"
                            "div2 div2"
                            "sec2 sec2"
                            "div3 div3"
                            "footer footer";
   }
}


@media screen and (min-width: 1084px) {

} 

